body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #FCFAF9;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 2.5em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 200px !important; 
    height: auto; 
}
